@import '../../../../core/styles/variables';

.TableWidget {
    .tableWidget {
        width: 100%;
        border-spacing: 0;

        &__cell {
            border-bottom: 1px solid $minorColor;
            padding: 15px;
        }
    }

    .tableHeader {
        &__cell {
            border-bottom: 3px solid $minorColor;
            font-family: RobotoBold;
        }
    }
}
