@import '../../../../core/styles/variables';

.WidgetPagination {
    &__info {
        width: 50%;
        float: left;
        line-height: 35px;
    }

    &__pagination {
        width: 50%;
        float: left;
    }
    
    &__list {
        float: right;
        list-style: none;
        background: $admin__lightBackground;
        border-radius: 5px;
    }
    
    &__listItem {
        display: inline-block;
    }
    
    &__listLink {
        color: $admin__mainColor;
        text-decoration: none;
        padding: 8px 9px;
        display: block;

        &:hover {
            color: $admin__mainBackground;
        }
    }

    .active {
        background-color: $admin__mainColor;
        color: $white;
    }
}
