@import '../../core/styles/variables';

.Client {
    .containerWrap {
        margin-top: -350px;
    }

    .content {
        &__title{
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 32px;
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 30px;
        }

        &__lang {
            float: right;
            padding-top: 7px;
        }

        &__main {
            background-color: #fff;
            min-height: 250px;
            padding: 25px 50px 50px;
        }

        &__footer {
            background-color: #fff;
            padding: 0 25px;
        }
    }

    .lang {

        &__item {
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 30px;
            margin-left: 5px;
            opacity: .65;
            text-decoration: none;

            &_active {
                opacity: 1;
            }
        }
    }
}
