@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.Footer {
    .bgSlider {
        background: url('../../../../static/images/backgrounds/header_bg.jpg') no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: 0 100%;
        width: 100%;
        padding-bottom: 75px;

        @include respond-to(xs) {
            padding-bottom: 0;
        }
    }

    .footer {
        background: #fff;
        position: relative;
        padding: 50px;

        @include respond-to(xs) {
            padding: 15px;
            text-align: center;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 50%;
            height: 1px;
            background-color: $minorColor;
        }
    }
}
