@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.EventsPage {
    .eventsPage {

        &__title {
            margin-bottom: 20px;

            font-family: Roboto;
            font-size: $font_size_xl;

            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &__content {
            
        }
    }

    .actions {
        text-align: center;

        &__moreBtn {
            font-size: $font_size_s;
            font-family: RobotoBold;
            color: darken($grey, 20%);
            text-transform: uppercase;

            &:hover {
                color: darken($grey, 50%);
            }
        }

    }

    .event {
        display: flex;
        flex-direction: row;

        margin-bottom: 24px;

        width: 80%;

        @include respond-to(md) {
            width: 100%;
        }

        @include respond-to(sm) {
            flex-direction: column;
        }

        &__left {
            display: flex;

            flex-basis: 30%;

            @include respond-to(sm) {
                flex-basis: 100%;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;

            flex-basis: 70%;
            margin-left: 40px;

            @include respond-to(sm) {
                flex-basis: 100%;
                margin-left: 0;
            }
        }

        &__title {
            margin-bottom: 6px;

            font-family: Roboto;
            font-size: $font_size_xm;
            text-transform: uppercase;
        }

        &__place {
            margin-bottom: 6px;
            text-transform: uppercase;
        }

        &__place-key {
            display: inline-block;
            margin-right: 8px;
            font-family: Roboto;
            color: $mainBlueDark;
        }

        &__description {
            text-align: justify;
            line-height: 1.4;
        }
    }

    .eventDate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        padding: 20px 0;
        
        color: $white;
        text-align: center;

        background-color: $mainBlue;

        @include respond-to(sm) {
            flex-direction: row;

            margin-bottom: 10px;
            padding: 8px 20px;
        }

        &__day {
            font-size: $font_size_extra;

            @include respond-to(sm) {
                font-size: inherit;
                margin-right: 6px;
            }
        }

        &__month {
            display: inline-block;
            margin-right: 6px;
        }

        &__year {
            display: inline-block;
        }
    }
}
