doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client
    link(href='/core/index.css', rel='stylesheet')
    link(href='/client/index.css', rel='stylesheet')
  body
    #root
    script(type='text/javascript', src='/./core/index.js')
    script(type='text/javascript', src='/./client/index.js')