@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.Events {
    .events {
        margin-bottom: 40px;

        @include respond-to(xs) {
            display: none; // what a fuck???
        }

        &__title {
            margin-bottom: 20px;

            font-family: Roboto;
            font-size: $font_size_xl;

            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            justify-content: space-between;

            margin-bottom: 20px;
        }

        &__actions {

        }
    }

    .actions {
        text-align: center;

        &__moreBtn {
            font-size: $font_size_s;
            font-family: RobotoBold;
            color: darken($grey, 20%);
            text-transform: uppercase;

            &:hover {
                color: darken($grey, 50%);
            }
        }

    }

    .event {
        position: relative;
        padding: 15px 60px 15px 20px;

        width: 30%;
        
        border: 1px solid $minorColor;

        &__title {
            text-decoration: none;
            color: $textColor;
            font-size: $font_size_m;
            display: block;

            &:hover {
                color: $hoverLink
            }
        }

        &__date {
            font-size: $font_size_s;
            margin: 10px 0 0 0;
            opacity: .75;
        }

        &__status {
            position: absolute;
            right: -1px;
            top: -1px;
            
            padding: 5px;

            width: 60px;

            font-size: $font_size_s;
            text-align: center;
            color: #fff;

            &_new {
                background-color: $mainBlue;
            }

            &_old {
                background-color: $textColor;
            }
        }
    }
}
