@import '../../../../core/styles/variables';

.News {
    .news {
        padding-bottom: 25px;
        margin-bottom: 50px;
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
            border-bottom: none;
        }

        &__header {
            min-height: 66px;
        }

        &__main {
            margin: 25px 0;
        }

        &__image-link {
            overflow: hidden;
            display: block;
            max-height: 350px !important;
        }

        &__image {
            width: 100%;
            transition: all 0.3s ease-out;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }

        &__short-content {
            margin-top: 25px;
            font-family: Roboto;
            line-height: 26px;
            text-align: justify;
        }

        .buttons {
            float: right;
            &__button {
                text-decoration: none;
                padding: 10px 15px;
                color: #fff;
                background-color: $hoverLink;
                display: inline-block;
                transition: all 0.3s ease-out;

                &:hover {
                    background-color: #000;
                }
            }
        }

        .info {
            display: inline-block;
            opacity: .5;

            &__item {
                display: inline-block;
                position: relative;
                margin-right: 15px;
            }

            &__value {
                display: inline-block;
                margin-left: 32px;
                line-height: 40px;
            }

            &__image {
                position: absolute;
                left: 0;
                top: 7px;
                background-size: 100% auto;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;

                &_views {
                    background-image: url('../../../../../static/images/icons/eye_000000.svg');
                }

                &_messages {
                    background-image: url('../../../../../static/images/icons/message_000000.svg');
                }
            }
        }
    }
}
