@import '../../../../core/styles/variables';

.TwoColumns {

    .subWrap {
        margin-left: 70%;
        padding-left: 25px;

        @media screen and (max-width: $md) {
            margin-left: 0;
            padding-left: 0;
        }
    }

    .generalWrap {
        float: left;
        width: 70%;

        @media screen and (max-width: $md) {
            float: none;
            width: 100%;
        }
    }
}
