@import '../../../../core/styles/variables';

.TwoColumns {
    .content {
        padding-top: 15px;
    }

    .subWrap {
        float: right;
        width: 300px;

        @media screen and (max-width: $md) {
            float: none;
            width: 100%;
        }
    }

    .generalWrap {
        margin-right: 350px;

        @media screen and (max-width: $md) {
            margin-right: 0;
        }
    }
}
