@import '../../../../core/styles/variables';

.DefaultButton {
    padding: 15px 30px;
    background-color: $mainBlue;
    color: $white;
    font-family: RobotoBold;
    text-transform: uppercase;
    font-size: $font_size_xs;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        opacity: .85;
    }
}
