@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.SelectWidget {
    .selectWidget {
        &__select {
            width: 100%;
            background: $white;
            border-color: #bcbcbc #dadada #e5e5e5;
            border-style: solid;
            border-width: 1px;
            color: $textColor;
            padding: 10px 12px;
            outline: none;
        }
    }
}
