@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.article {

    &__header {
        min-height: 66px;
    }


    &__main {
        margin: 25px 0;
    }

    &__imageBlock {
        margin-bottom: 20px;
    }

    &__imageLink {
        overflow: hidden;
        display: block;
        max-height: 350px !important;
    }

    &__image {
        width: 100%;
        transition: all 0.3s ease-out;
        display: block;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    &__content {
        line-height: 1.6;
        text-align: justify;

        a {
            color: $mainBlue;
            text-decoration: underline;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        ul {
            padding-left: 30px;
            list-style-type: disc;
        }
    }

    &__footer {
        margin: 25px 0;
    }

    &__taggedUnder {
        font-size: 12px;
        color: $textColor;
        opacity: .5;
        margin-bottom: 5px;
    }

    &__tagsList {
        list-style: none;
        display: block;
    }

    &__tagsListItem {
        float: left;
        padding: 3px 12px;
        margin-right: 6px;
        background: #F1F2F3;
    }

    &__tagsLink {
        color: $textColor;
        text-decoration: none;
        transition: all 0.3s ease-out;
        font-size: 14px;

        &:hover {
            color: $hoverLink;
        }
    }
}

.article-header {
    &__date {
        float: left;
        padding: 10px;
        border: 1px solid $minorColor;

        @include respond-to(xs) {
            display: none;
        }
    }

    &__title {
        text-decoration: none;
        color: $textColor;
        font-size: $font_size_l;
        margin-left: 90px;
        padding-top: 6px;
        display: block;
        transition: all 0.3s ease-out;
        font-family: Roboto;

        @include respond-to(xs) {
            margin: 0;
            font-size: 22px;
            padding: 0;
        }

        &:hover {
            color: $hoverLink;
            opacity: 1;
        }
    }

    .date {
        margin-right: 20px;
        text-align: center;

        &__day {
            font-size: 22px;
        }

        &__month {
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .info {
        display: block;
        margin-left: 90px;
        opacity: .5;

        @include respond-to(xs) {
            display: block;
            text-align: center;
        }

        &__item {
            display: inline-block;
            position: relative;
            margin-right: 15px;
        }

        &__value {
            display: inline-block;
            margin-left: 32px;
            line-height: 36px;
            font-size: 14px;
            font-family: RobotoBold;
            color: $mainBlueDark;
        }

        &__image {
            position: absolute;
            left: 0;
            top: 7px;
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 23px;
            height: 23px;

            &_views {
                background-image: url('../../../../../static/images/svg/eye_000000.svg');
            }

            &_messages {
                background-image: url('../../../../../static/images/svg/message_000000.svg');
            }

            &_langs {
                background-image: url('../../../../../static/images/svg/lang_000000.svg');
            }
        }
    }
}
