@import '../../../core/styles/variables';

.Breadcrumbs {
    .breadcrumbsWrap {
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }

    ul {
        padding: 0!important;
    }

    .breadcrumbs {
        display: block;

        font-size: $font_size_s;
        list-style: none;

        &__item {
            float: left;
            position: relative;
            margin-right: 24px;

            &:after {
                content: '/';
                position: absolute;
                top: 0;
                right: -15px;
                opacity: .50;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: $textColor;
            opacity: .50;

            &:hover {
                color: $hoverLink;
                opacity: 1;
            }
        }
    }
}
