@import '../../../core/styles/variables';

.Home {
    .content {
        padding-top: 15px;
    }

    .eventsWrap {
        float: right;
        width: 300px;
    }

    .newsWrap {
        margin-right: 325px;
    }
}
