@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.ChampItem {

    .champHeader {
        $iconWidth: 100px;
        $champHeaderPadding: 40px;
        $iconWidthSm: 50px;
        $champHeaderPaddingSm: 20px;

        margin-bottom: 40px;
        padding: 20px $champHeaderPadding;

        background-color: $mainBlueDark;

        @include respond-to(md) {
            padding: 15px $champHeaderPaddingSm;
        }

        &__icon {
            float: left;
            text-align: center;

            img {
                max-width: $iconWidth;
                height: auto;

                @include respond-to(md) {
                    max-width: $iconWidthSm;
                }
            }
        }

        &__title {
            margin-left: $iconWidth + $champHeaderPadding;
            padding-top: 10px;

            @include respond-to(md) {
                margin-left: $iconWidthSm + $champHeaderPaddingSm;
                padding-top: 5px;
            }
        }

        &__name {
            margin-bottom: 5px;

            font-size: $font_size_xxl;
            text-transform: uppercase;
            color: $white;

            @include respond-to(md) {
                font-size: $font_size_m;
            }
        }

        &__year {
            font-size: $font_size_xxl;
            color: $white;

            @include respond-to(md) {
                font-size: $font_size_m;
            }
        }
    }

    .champSections {

        &__item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__itemTitle {
            margin-bottom: 20px;
            padding: 15px 0;

            font-size: $font_size_xl;

            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            @include respond-to(md) {
                padding: 8px 0;
                font-size: $font_size_xm;
            }
        }
    }

    .sectionsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond-to(sm) {
            flex-direction: column;
        }

        &__item {
            box-sizing: border-box;
            display: block;
            width: 48%;

            @include respond-to(sm) {
                width: 100%;
            }
        }

        &__link {
            display: block;

            margin-bottom: 20px;
            padding: 10px 15px;

            font-size: $font_size_l;
            color: $white;
            text-decoration: none;
            text-align: center;

            transition: background-color 0.3s;

            background-color: $mainBlue;

            &:hover {
                background-color: $mainBlueDark;
            }

            @include respond-to(md) {
                margin-bottom: 12px;
                padding: 6px 10px;

                font-size: $font_size_m;
            }
        }

    }
   
}
