@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.Credits {
    .credits {
        padding-top: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;

        @include respond-to(xs) {
            padding: 15px;
        }
        
        &__link {
            opacity: 1;
            
            &:hover {
                color: $hoverLink;
            }
        }
    }
}
