@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

.AllNews {
    .newsList {

        &__title {
            margin-bottom: 20px;

            font-family: Roboto;
            font-size: $font_size_xl;

            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

    }

    .actions {
        text-align: center;
        font-size: $font_size_s;
        font-family: RobotoBold;
        color: darken($grey, 20%);
        text-transform: uppercase;
    }

    .news {
        width: 47.5%;

        margin-bottom: 30px;

        &__header {
            min-height: 66px;

            @include respond-to(xs) {
                min-height: 0;
            }
        }

        &__main {
            margin: 20px 0;
        }

        &__image-link {
            overflow: hidden;
            display: block;
            max-height: 350px !important;
        }

        &__image {
            width: 100%;
            transition: all 0.3s ease-out;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }

        &__short-content {
            margin-top: 20px;

            font-size: $font_size_m;
            line-height: 25px;
            text-align: justify;
        }

        .buttons {

            &__button {
                font-family: Roboto;

                &:hover {
                    background-color: #000;
                }
            }
        }
    }
}
