@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.LatestNews {
    .latestNews {
        &__header {
            text-transform: uppercase;
            font-family: RobotoBold;
            opacity: .5;

            @include respond-to(md) {
                text-align: center;
            }
        }

        &__link {
            display: block;
            margin-top: 15px;
            text-decoration: none;
            color: $hoverLink;
            font-family: Roboto;

            &:hover {
                color: $textColor;
            }
        }
    }

    .newsItem {
        padding: 15px 0;
        border-bottom: 1px solid $minorColor;
        position: relative;
        font-size: 14px;

        &__link {
            text-decoration: none;
            color: $textColor;
            display: block;
            font-family: Roboto;
            font-size: 16px;

            &:hover {
                color: $hoverLink
            }
        }

        &__date {
            font-size: 12px;
            margin: 5px 0 10px;
            opacity: .75;
        }

        &__description {
            text-align: justify;

            p {
                margin: 0;
            }
        }
    }
}
