@import '../../../core/styles/variables';

.Navigation {
    .navigation {
        padding: 50px 25px;
        border-top: 1px solid $minorColor;

        &__item{
            float: left;
            width: 33%;
        }
    }
}
