@import '../../../../core/styles/variables';
@import '../../../../core/styles/mixins';

.InputWidget {
    .inputWidget {
        &__label {
            margin-bottom: 12px;
        }

        &__input {
            width: 100%;
            background: $white;
            border-color: #bcbcbc #dadada #e5e5e5;
            border-style: solid;
            border-width: 1px;
            color: $textColor;
            padding: 10px 12px;
            outline: none;

            &:focus {
                border-color: #000;;
            }
        }
    }
}
