@import '../../../../core/styles/variables';

.FirstScreen {
    .bgSlider {
        background: url('../../../../../static/images/backgrounds/bg_slider_1.jpg');
        background-size: cover;
        width: 100%;
        height: 100vh;
        padding: 50px 0;
        position: relative;
    }

    .logo {
        display: block;
        background: url('../../../../../static/images/logo/bsuir_logo_white.png');
        background-size: 100% 100%;
        width: 130px;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header {
        position: relative;
    }

    .logIn {
        float: right;
        background: transparent;
        border: 1px solid $hoverLink;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px 10px;
        margin-top: 17px;

        &:hover {
            cursor: pointer;
            opacity: .85;
        }
    }

    .main {
        margin: 100px 0 0 0;
    }

    .mainTitle {
        margin-right: 315px;

        &__title {
            font-size: 60px;
            line-height: 64px;
            color: #fff;
            font-family: RalewayLight;
        }
        
        &__description {
            font-size: 22px;
            color: #fff;
            line-height: 26px;
            margin: 30px 0;
        }
    }
    
    .motivationWrap {
        text-align: right;
    }
    
    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .videoWrap {
        float: right;
        width: 300px;
        background: #fff;
        height: 250px;
        color: #fff;
        position: relative;
        
        &:before {
            content: '""';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .25);
        }
        
        &:hover {
            cursor: pointer;
        }
        
        &:before {
            display: none;
        }
    }

    .video {
        width: 100%;
        height: 100%;

        &__play {
            background: url('../../../../../static/images/icons/play_icon.png') center center no-repeat;
            background-size: 242px 168px;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}
